.form-fields{
    display: flex;
    align-items: center;
    margin-block: 1.5rem;        
    label{
        min-width: 170px;
        font-size: 1.65rem;
    }
    input{
        outline: none;
        font-size: 1.5rem;
        padding-left: 0.3em;
        padding-block: 0.6rem;
        border-radius: 8px;
        background-color: lightgray;               
    }
    .select-input {
        color: black;
        outline: none;
        width: 100%;
        font-size: 1.5rem;
        padding-left: 0.3em;
        padding-block: 0.6rem;
        border-radius: 8px;
        background-color: lightgray;
    }
    .add-avatar-container{
        display: flex;
        align-items: center;
        span{
            min-width: 170px;
        }
        img{
            cursor: pointer;
            user-select: none;
            transition: 0.3s;
            &:hover{
                scale: 1.1;
            }
        }                   
    } 
    .v-mark{   
        display: none;                 
        font-weight: 600;
        font-size: 2rem;
        color: $primaryColor;                
        margin-left: 0.5em;                                   
    }    
    .trash-can{
        cursor: pointer;
        display: flex;
        margin-left: auto;              
        color: rgba(230, 83, 83, 0.843);               
        transition: 0.3s;   
        font-size: 2.2rem;                                              
        &:hover{
            scale: 1.1;
        }
    }   
}