$primaryColor: rgb(73, 190, 141);
$primaryColorBrighter: rgb(45, 216, 145);
$primaryColorBrightest: rgb(81, 239, 173);
$primaryColorDarker: rgb(16, 88, 58);
$darkGrayColor: rgb(40, 38, 38);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

input, button{
    font-family: inherit;
}

body{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

::-webkit-scrollbar {
    width: 0.7em; 
}

::-webkit-scrollbar-track {
    background: $darkGrayColor;
    border-radius: 100vw;
}
                
::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
    border-radius: 100vw;              
}     

main{
    margin-top: 150px;
}

.primary-button{
    cursor: pointer;
    border: none;
    min-width: fit-content;
    font-size: 1.5rem;
    padding: 0.5em 1.2em;
    border-radius: 24px;
    transition: 0.3s;
    background-color: $primaryColor;
    color: white;
    &:hover{
        background-color: $primaryColorBrighter;
    }
}

.secondary-button{
    display: flex;
    align-items: center;
    background: transparent;
    border: 2px solid $primaryColorBrighter;
    font-size: 2rem; 
    border-radius: 40px;   
    padding: 0.5em 1.8em;    
    &:hover{
        background-color: $primaryColorBrighter;
    }  
}