$primaryColor: rgb(73, 190, 141);
$primaryColorBrighter: rgb(45, 216, 145);
$primaryColorBrightest: rgb(81, 239, 173);
$primaryColorDarker: rgb(16, 88, 58);
$darkGrayColor: rgb(40, 38, 38);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

input, button{
    font-family: inherit;
}

body{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

::-webkit-scrollbar {
    width: 0.7em; 
}

::-webkit-scrollbar-track {
    background: $darkGrayColor;
    border-radius: 100vw;
}
                
::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
    border-radius: 100vw;              
}     

main{
    margin-top: 150px;
}