$primaryColor: rgb(73, 190, 141);
$primaryColorBrighter: rgb(45, 216, 145);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}