.dashboard-container{    
    margin-top: 12.5em;
    @include laptop{
        margin-top: 10.5rem;
    }
    .addjob-container{
        margin-top: 0;
        margin-bottom: 5em;      
        .wrapper{       
            padding-inline: 8em;        
        }    
    }
    .actions-container{
        display: flex;
        justify-content: center;
        margin-bottom: 5em;
        .excel-img{
            margin-left: 0.7em;
        }        
    } 
    .jobs-container{
        margin-bottom: 3.5em;   
        .jobs-wrapper{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 4rem;
            padding-left: 6em;
            .job-card{
                background-color: $darkGrayColor;
                box-shadow: 8px 5px 30px rgb(0, 0, 0);
                width: 22%;
                min-width: 440px;
                padding-left: 1.4em;
                padding-bottom: 1.8em;
                border-radius: 16px;
                overflow: hidden;
                transition: 0.5s;
                &:hover{
                    scale: 1.03;
                }
                @include laptop{
                    min-width: 395px;
                }
                .job-date-container{
                    display: flex;
                    .job-date{  
                        font-family: 'Lucida Sans';
                        font-weight: 600;    
                        margin-left: auto;
                        font-size: 1rem;
                        padding: 0.35em 0.8em;
                        background-color: $primaryColorDarker;
                        letter-spacing: 0.4px;
                    }
                }
                .positon-company{
                    margin-block: 1.2rem;
                    h3{
                        font-size: 2rem;
                        margin-bottom: 0.5em;
                        text-transform: capitalize;
                    }
                    p{
                        font-size: 1.4rem;
                        background-color: gray;
                        display: inline-block;
                        padding: 0.3em 0.6em;
                        border-radius: 8px;
                        text-transform: lowercase;                 
                    }
                }
                .btns-status{
                    display: flex;
                    align-items: center;
                    margin-top: 2.5em;
                    .btn-container{
                        button{
                            cursor: pointer;
                            background-color: transparent;
                            border: none;
                            margin-inline: 0.5em;
                            font-size: 1.2rem;
                            &:nth-child(1){
                                color: rgb(11, 158, 11);
                                &:hover{
                                    color: rgb(22, 207, 22);
                                }
                            }
                            &:nth-child(2){
                                color: rgb(187, 6, 6);
                                margin-left: 1em;
                                &:hover{
                                    color: rgb(237, 27, 27);
                                }
                            }
                        }
                    }
                    .status{
                        margin-left: auto;
                        font-size: 1.1rem;
                        padding-right: 1em;
                        color: $primaryColorBrighter;
                        text-transform: uppercase;
                    }
                }
            }
        }      
        .no-jobs{
            width: 100%;
            text-align: center;
            padding-left: 0;
            font-size: 2rem;
            margin-top: 1.8em;
        }
    }
}
.editjob-container{
    flex-direction: column;
    gap: 5em;  
    margin-top: 15rem;
    .wrapper{
        padding-inline: 8em; 
        form{
            .form-fields{
                select{
                    color: black;
                    outline: none;
                    width: 100%;
                    font-size: 1.5rem;
                    padding-left: 0.3em;
                    padding-block: 0.6rem;
                    border-radius: 8px;
                    background-color: lightgray;
                }
            }
        }
    } 
    .back-to-dashboard{       
        margin-top: 1em;            
    } 
    .dashboard-logo{
        margin-left: 0.7em;
    } 
}