header{
    position: fixed;
    width: 100%;    
    top: 0;
    z-index: 10;
    nav{    
        display: flex;
        align-items: center;
        padding-block: 1.5rem;
        background-color: $darkGrayColor;         
        .logo{
            width: 16em;
            margin-left: 4em;         
            padding-bottom: 0.5em; 
            cursor: pointer;
            object-fit: cover;   
        }
        .centered-logo{
            margin: auto;
        }
        .dropdown-container{
            position: relative;
            display: flex;
            margin-left: auto;
            align-items: center;
            gap: 1.2em;
            margin-right: 4em;           
            .user-avatar{
                cursor: pointer;
                width: 4em;
            }               
            .arrow{
                cursor: pointer;
                transition: 0.3s; 
                &:hover{
                    scale: 1.2;
                }
            } 
            .dropdown-menu-wrapper{
                display: none;
                position: absolute;
                right: 0;
                .dropdwon-menu{
                    position: absolute;
                    list-style: none;
                    background-color: $darkGrayColor;
                    top: 5em;
                    right: 0.1em;
                    padding-block: 0.7em;
                    border-radius: 12px;
                    border-top-right-radius: 0px;
                    box-shadow: 0px 10px 35px black;
                    .username{                 
                        text-align: center;
                        letter-spacing: 2px;
                        font-size: 2rem;
                        font-weight: 900;
                        font-family: Cambria, sans-serif;
                        margin-block: 0.3em;
                        padding-bottom: 0.5em;
                        border-bottom: 2px $primaryColor solid;                
                    }
                    .dropdown-menu-item{ 
                        cursor: pointer;  
                        display: flex;
                        align-items: center;             
                        padding-left: 0.5em;              
                        padding-block: 0.4em;
                        font-size: 1.4rem;
                        min-width: 350px;
                        &:hover a{
                            text-decoration: underline;
                        }
                        img{
                            padding-left: 0.3em;
                            margin-right: 0.7em;                                        
                        }
                        a{
                            text-decoration: none;
                            color: white;
                            transition: 0.3s;
                        }
                    } 
                } 
            }             
        }
    }
}