header{
    position: fixed;
    width: 100%;    
    top: 0;
    z-index: 10;
    nav{    
        display: flex;
        align-items: center;
        padding-block: 1.5rem;
        background-color: $darkGrayColor;         
        img{
            width: 16em;
            margin-left: 2em;         
            object-fit: cover;
        }
        .centered-logo{
            margin: auto;
        }
        div{
            display: flex;
            margin-left: auto;
            align-items: center;
            gap: 2rem;
            margin-right: 2rem;
            p{
                font-size: 1.8rem;
            }
            button{              
                letter-spacing: 1px;                 
            }
        }
    }
}